.main{
    margin-top: 60px;
}
.bg-success{
    height: auto;
    width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
.container{
    background-color: aqua;
    height: auto;
    width:50% ;
    margin-left: 30px;
   
    margin-top: 30px;
    margin-left: 30px;
}
#form{
    padding-left: 10px;
    padding-top: 10px;
}
.text{
    color: red;
}
.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: blueviolet;
    padding-left: 30px;
    margin-left: 40px;
}